.notification-card-container {
  padding: 15px;
  box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.3);
  /* width: 100%;
  max-width: 100%; */
  margin: 10px;
}
.notification-card-container-new {
  padding: 15px;
  box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.3);
  /* width: 100%;
  max-width: 100%; */
  margin: 10px;
  border: none;
  border-left: solid var(--primary-red) 5px;
}

.notifications-big-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.notification-footer-page-select-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
}

.actual-page-notification,
.page-notification {
  background-color: #fff;
  border: none;
  /* font-weight:; */
  aspect-ratio: 1/1;
  border: 1px solid rgba(128, 128, 128, 0.382);
  height: 25px;
  padding: 5px;
}

.actual-page-notification {
  background-color: var(--primary-red);
  color: white;
  font-weight: bold;
}
