* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-padding: 0 74px;
  --primary-red: #ed1a43;
  --primary-white: #fff;
  --primary-black: #000;
  --primary-text-sm : 14px;
  --primary-text-md : 16px;
  --primary-text-lg : 18px;
  --primary-text-xl : 20px;
}
