.autocomplete-dropdown-container{
    position: absolute;
    top: 100%;
    left: 0;
    overflow: auto;
    max-height: 35vh;
    z-index: 1000;
    padding: 10px;
    border : 1px gray solid;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px gray;
    background-color: white;
    width: 220px;
}

.autocomplete-super-container{
    position: relative;
}